<div class="main-background">
  <mat-card class="card-2" *ngIf="!departmentSelection">
    <mat-card-title>
      Seleccione el Departamento
    </mat-card-title>
    <mat-card-content>
      <form  #DepartmentForm="ngForm">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Departamento</mat-label>
          <mat-select
          [(ngModel)]="selectedDepartment.department_Id"
          name="department"
          [(value)]="selectedDepartment.department_Id"
          required
          #Tdepartemnt="ngModel">
            <mat-option *ngFor="let item of Departments" [value]="item.department_Id">
              {{item.department_Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="search-button" type="submit" [disabled]="DepartmentForm.invalid" (click)="onSelectDepartment()">
          <mat-icon aria-hidden="false" class="nav-icon">search</mat-icon>
          <a class="nav-link text-light">Buscar</a>
        </button>
      </div>
      <!-- <div *ngIf="desJob.invalid && (desJob.dirty || desJob.touched)" class="alert alert-danger">
        <div *ngIf="desJob.errors.required">
          El puesto deseado es obligatorio.
        </div>
      </div> -->
    </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="card" *ngIf="departmentSelection">
    <mat-card-title>
      Empleados
    </mat-card-title>
    <mat-card-content>
      <div class="grid-buttons">
        <!-- <button mat-raised-button class="add-row-button">
          <mat-icon aria-hidden="false" class="nav-icon">add</mat-icon>
          <a class="nav-link text-light" (click)="onAddRow()">Agregar Trabajos</a>
        </button> -->
        <button mat-raised-button class="delete-row-button" (click)="onGoBack()">
          <mat-icon aria-hidden="false" class="nav-icon" (click)="onGoBack()">arrow_backward</mat-icon>
          <a class="nav-link text-light">Atras</a>
        </button>
      </div>
      <ag-grid-angular
      class="ag-theme-material data-grid"
      #myGrid
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationAutoPageSize]="true"
      rowSelection="single"
      [suppressRowClickSelection]="true"
      [rowData]="rowData"
      [stopEditingWhenGridLosesFocus]="true"
      (selectionChanged)="onSelectionChanged($event)"
      (cellValueChanged)="onCellValueChanged($event)"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

    <button mat-raised-button class= "save-button" *ngIf="gridEdited == true" (click)="onSaveChanges()">
      <a class="nav-link text-light">Guardar Cambios</a>
    </button>
    <button mat-raised-button class= "csv-button" (click)="onExportToCSV()">
      <a class="nav-link text-light">Exportar a CSV</a>
    </button>
    </mat-card-content>
  </mat-card>
